<details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
            Help with next steps
        </span>
    </summary>
    <div class="govuk-details__text">
        Outline your immediate next steps through to resolution. This should include:
        <ul class="govuk-list govuk-list--bullet">
            <li>reflecting on any ongoing actions, for example to review trust documentation or board minutes</li>
            <li>dates for upcoming reviews, deadlines, or meetings</li>
            <li>planned case interventions, such as commissioning an SRMA or issuing warning letters</li>
            <li>any dated actions within warning letters or NTIs</li>
            <li>actions planned beyond the current month</li>
        </ul>
    </div>
</details>